@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Menu</h1>
    <div>
        <h2>Some title</h2>
        <p>Some text</p>
    </div>
    <div>
        <h2>Some title</h2>
        <p>Some text</p>
    </div>
    <div>
        <h2>Some title</h2>
        <p>Some text</p>
    </div>
    <div>
        <a asp-controller="Employee" asp-action="Index" class="btn btn-outline-secondary">Show employees</a>
    </div>
</div>
